@charset "utf-8";
/* CSS Document */
html, body, div, p, form, label, ul, li, dl, dt, dd, ol, img, button, h1, h2, h3, h4, h5, h6, b, em, strong, small {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-style: normal;
    font-weight: bolder;
    color: #ffffff;
}

dl, dt, dd {
    display: block;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Microsoft YaHei, Verdana, Arial, SimSun;
    color: #666;
    font-size: 14px;
    background: #f6f6f6;
    overflow: hidden
}

.block, #block {
    display: block;
}

.none, #none {
    display: none;
}

/*****头部和尾部******/
/*.top {*/
/*    height: 80px;*/
/*    line-height: 5px;*/
/*    background: #609DBF;*/
/*    width: 100%;*/
/*    position: fixed;*/
/*    z-index: 255;*/
/*    !*top: 100px;*!*/
/*    text-align: center;*/
/*}*/

.bottom {
    height: 5px;
    line-height: 5px;
    /*background: #f6f6f6;*/
    width: 100%;
    position: fixed;
    z-index: 255;
    bottom: 50px;
    text-align: center;
}

#header {
    height: 80px;
    line-height: 80px;
    background: #71A8C6;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    text-align: center;
}

.logo {
    line-height: 80px;
    font-size: 30px;
    color: #000;
    letter-spacing: 3px;
    margin-left: 50px;
    float: left;
}

.navigation {
    float: right;
    margin: 5px 50px 0 0;
    color: #fff; /*欢迎你*/
    font-size: 14px;
}

.navigation ul li {
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-left: 15px;
}

.navigation ul li a {
    color: #fff; /*修改密码类*/
}

.navigation ul li a:hover {
    color: #6C6C6C;
}

/*#footer {*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*    background: #5e5e5e;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    z-index: 200;*/
/*    bottom: 0;*/
/*    text-align: center;*/
/*}*/

/*#footer p {*/
/*    text-align: center;*/
/*    line-height: 50px;*/
/*    color: #fbfbfb;*/
/*}*/

/*****主体部分******/
#content {
    background: #ffffff;
    width: 100%;
    top: 80px;
    position: absolute;
    z-index: 10;
    bottom: 50px;
}

/**左侧菜单***/
.left_menu {
    float: left;
    width: 200px;
    /*background: #F9F9F9;!*左侧导航栏底色*!*/
    background: #90BAD2;
    /*background: #609DBF;*/
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    /*border-left: 5px solid #f6f6f6;*/
}

.left_menu ul li {
    width: 200px;
    display: inline;
}

.left_menu ul li .list-item a {
    width: 200px;
    padding-left: 60px;
    text-decoration: none;
    font-size: 14px;
    color: #609DBF; /*下拉菜单*/
    line-height: 30px;
    display: block;
}

.left_menu ul li a.noline {
    border-bottom: none;
}

.left_menu ul li a:hover {
    color: #6C6C6C;
}

.left_menu ul li a.selected:hover {
    color: #000000;
}

.left_menu ul li h4 {
    cursor: pointer;
    background: url(../images/bg1.png) no-repeat 150px 18px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    line-height: 46px;
    font-weight: normal;
}

.left_menu ul li.noline {
    border-bottom: none;
}

.left_menu ul li.selected h4 {
    background-position: 150px -45px;
    background-color: #A3C6DA; /*点击之后横幅颜色*/
}

.left_menu li .list-item {
    padding: 5px 0;
    position: relative;
    zoom: 1;
    background: #CADEEA; /*点击之后下拉框颜色*/
    overflow: hidden;
}

.left_menu h4 span {
    display: block;
    float: left;
    width: 20px;
    height: 26px;
    margin-right: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    margin-top: 12px;
}

.M1 span {
    background: url(../images/ioc.png) 0 -6px;
    /*font-weight: bolder;*/
}

.M2 span {
    background: url(../images/ioc.png) -36px -6px;
    /*font-weight: bolder;*/
}

.M3 span {
    background: url(../images/ioc.png) -72px -6px;
}

.M4 span {
    background: url(../images/ioc.png) -36px -40px;
}

.M5 span {
    background: url(../images/ioc.png) -72px -40px;
}

.M6 span {
    background: url(../images/ioc.png) -1px -40px;
}

.M7 span {
    background: url(../images/ioc.png) -1px -70px;
}

.M8 span {
    background: url(../images/ioc.png) -36px -70px;
}

.M9 span {
    background: url(../images/ioc.png) -72px -70px;
}

.M10 span {
    background: url(../images/ioc.png) -3px -105px;
}

/***右侧内容****/
.m-right {
    margin-left: 200px;
    height: 100%;
}

.right-nav {
    height: 50px;
    border-bottom: 1px solid #d1d1d1;
    /*background: #A3C6DA;!*顶栏*!*/
    background: #CADEEA;
}

.right-nav li { /*最新公告*/
    float: left;
    margin-left: 5px;
    line-height: 50px;
    color: #464646;
    font-size: 14px;
}

.right-nav li img {
    position: relative;
    top: 17px;
    left: 15px;
}

.right-nav li a {
    color: #464646;
}

.right-nav li a:hover {
    color: #00a5a5;
    text-decoration: underline;
}

.main {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    overflow: auto;
}

.information_task {
    position: relative;
    background: #EFEFEF;
    top: 5px;
    left: 5px;
    right: 5px;
    width: 99%;
    height: 50px;
}

/*增删改查按钮*/
.add_detele_search {
    font-size: 15px;
    padding: 5px 12px;
    /*border: transparent;*/
    /*box-shadow: 2px 2px 4px rgba(0,0,0,0.4);*/
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    background: #FFFFFF;
    color: #000000;
    /*border-radius: 4px;*/
    font-weight: normal;
    position: relative;
    top: 10px;
    left: 10px;
    /*position: 2px;*/
    /*line-height: 20px;*/
}

.add_detele_search:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, #bebebe 0%, #efefef 100%);
}

.add_detele_search:active {
    transform: translate(0em, 0.2em);
}

.findkh {
    max-width: 200px;
    padding: 7px;
    border: none;
    /*border-radius: 4px;*/
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
    position: relative;
    top: 8px;

}

.findkh:invalid {
    animation: justshake 0.3s forwards;
    color: #000000;
}



/* Border styles */



/* Padding and font style */
.table_KH td ,.table_KH th{
    padding: 8px 28px;
    font-size: 13px;
    font-weight: bolder;
    /*font-family: STHeiti;*/
    color: #5D7EA6;/*字体颜色*/
    position: relative;
    left: 14px;
    top:14px;
    line-height: 25px;
    text-align:center ;
}
.table_KH th{
    font-size: 15px;
}




/*@keyframes justshake {*/
/*    25% {*/
/*        transform: translateX(5px);*/
/*    }*/

/*    50% {*/
/*        transform: translateX(-5px);*/
/*    }*/

/*    75% {*/
/*        transform: translateX(5px);*/
/*    }*/

/*    100% {*/
/*        transform: translateX-(5px);*/
/*    }*/
/*}*/
                                                      